### Gradle ###
.gradle/
build/
gradle-app.setting

### Java ###
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear
hs_err_pid*
replay_pid*

### IntelliJ IDEA ###
*.iml
*.iws
*.ipr
out/
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/shelf/
.idea/httpRequests/
.idea/dataSources/
.idea/dataSources.local.xml
.idea/dictionaries/
.idea/libraries/
.idea/modules.xml
.idea/*.iml
.idea/modules/
.idea/misc.xml
.idea/compiler.xml

.vscode/
.settings/
.classpath
.project
bin/
.apt_generated/

### ОС ###
.DS_Store
Thumbs.db
desktop.ini

*.log
logs/
*.env
.env.local
application-local.yml
